@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    font-size:12px;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    position: absolute;
    font-family: 'Nanum Gothic', sans-serif;
}
div{
    margin:0;
    padding:0;
    display: block;
    text-align: center;
}

li{
    margin:0;
    padding:0;
    display:list-item;
    text-align: center;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

.gnb-bar{
    margin:0 auto;
    background-color:#0BBA18;
}  

.gnb-bnt{
    position:relative;
    float:right;
    border:none;
    font-size:12px;
    background:none;
}
.gnb-img{
    position:relative;
    float:left;
}

img{
    border:0;
    vertical-align: top;
}

.promotion-section{
    position: relative;
    margin:0 auto;
}

.promotion-img{
   position:relative;
}

.category-bar{
    position:relative;
    margin:0 auto;
    border-bottom:solid 1px lightgrey;
}
.category-item{
    display: block;
    position:relative;
    float:left;
    text-align: center;
}
.count-bar{
    text-align: center;
    position:relative;
    margin:0 auto;
}
.count-bar > p{
    display:inline-block;
    padding:0;
}
.count-bar >.point-text{
    color:red;
}

.main{
    background:#f7f7f7;
    margin:0 auto;
    padding:0px;
}
.product-tab{
    position:relative;
    margin:0 auto;
}

.product-list-col{
    float:left;
    margin:1px;   
}

.product-list-col > .product-img{
    width:100%;
}
.product-list-col > .product-content {
    padding:1px 0px;
}

.footer{
    text-align:center;
    margin:0 auto;
}

.footer > .more{
    background-color:white;
    border:solid 1px darkgrey;
    margin:0 auto;
    padding:0;
}

